#city, #weather, #reload {
    top: 10%;
    left: 10%;
    margin: 5px;
}

#city {
    border-radius: 2px;
}

#weather, #reload {
    border-radius: 5px;
    width: 160px;
    height: 30px;
}

#weather:hover, #reload:hover {
    cursor: pointer;
}

.weatherinfo {
    background-color: aliceblue;
    font-family: sans-serif;
}